
# Ignore all contents in data, but keep the folder
data/*
!data/.gitkeep

# Ignore all contents in chroma, but keep the folder
chroma/*


# Ignore all contents in repos, but keep the folder
repos/*
!repos/.gitkeep

# Ignore specific root/data files just in case
query_cache.json
graph.json
cloned_repos/

# ==========================================
# Python Environments & Cache
# ==========================================
.venv/
venv/
env/
__pycache__/
*.py[cod]
*$py.class
*.so

# ==========================================
# Streamlit & Secrets
# ==========================================
.env
.streamlit/secrets.toml

# ==========================================
# IDE & OS Artifacts
# ==========================================
.vscode/
.idea/
.DS_Store
Thumbs.db